/*
 *  rgba(0,135,200,1) - dark blue
 *  rgba(0,215,230,1) - light blue
 *  rgba(15,135,30,1) - dark green
 *  rgba(100,225,0,1) - light green
 */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#header {
    width: 50%;
    margin: 0 auto;
}

#main {
    display: flex;
    justify-content: space-between;
}

#left-col,
#right-col {
    width: 25%;
    box-sizing: border-box;
    margin: 0 24px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
}

#main-col {
    flex-grow: 1;
}

#root {
    width: 100%;
    background: #dfdfdf;
}

#controls button {
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    background: rgba(0, 135, 200, 1);
}

#level-list .level {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

#level-list .level.active {
    font-weight: bold;
}

#modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

#modal {
    background: #fff;
    width: 480px;
    max-width: 100%;
    margin: 40px auto;
    padding: 1em;
}

#modal-actions {
    text-align: right;
}

#modal-close {
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

.modal-footer button {
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0.5em;
    margin-right: 1em;
}

.modal-footer button.primary {
    background: rgba(15, 135, 30, 1);
    color: #fff;
}

.modal-footer button.secondary {
    background: #ccc;
    color: #444;
}
