/*
 *  rgba(0,135,200,1) - dark blue
 *  rgba(0,215,230,1) - light blue
 *  rgba(15,135,30,1) - dark green
 *  rgba(100,225,0,1) - light green
 */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#header {
    width: 50%;
    margin: 0 auto;
}

#main {
    display: flex;
    justify-content: space-between;
}

#left-col,
#right-col {
    width: 25%;
    box-sizing: border-box;
}

#main-col {
    flex-grow: 1;
}

#root {
    width: 100%;
    background: #dfdfdf;
    height: 480px;
}

#controls {
    margin-top: 24px;
}

#controls div {
    margin: 10px 0;
}

#controls span#active-level {
    font-weight: bold;
}

#controls button {
    border: none;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    width: 48px;
    height: 48px;
    padding: 0.5em;
    background: rgba(0, 135, 200, 1);
}

#controls button.active {
    background: rgba(0, 135, 200, 0.65);
}

#level-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 3px 3px #ccc;
    left: -310px;
    transition: left 0.1s linear;
}

#level-menu.open {
    left: 0;
}

#menu-actions {
    text-align: right;
    margin-bottom: 10px;
}

#menu-close {
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

#level-list .level {
    display: block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
    background: rgba(0, 135, 200, 1);
    color: #fff;
    margin: 2px 0;
}

#level-list .level:hover {
    background: rgba(0, 135, 200, 0.85);
}

#level-list .level.active {
    font-weight: bold;
    background: rgba(0, 135, 200, 0.65);
}

#modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

#modal {
    background: #fff;
    width: 480px;
    max-width: 100%;
    margin: 40px auto;
    padding: 1em;
}

#modal-actions {
    text-align: right;
}

#modal-close {
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
}

.modal-footer button {
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0.5em;
    margin-right: 1em;
}

.modal-footer button.primary {
    background: rgba(0, 135, 200, 1);
    color: #fff;
}

.modal-footer button.secondary {
    background: #ccc;
    color: #444;
}
